.jumbotron {
  text-align: center;
  background-color: #dbc6b0;
  border-radius: 0 !important;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

body {
  background-color: #ffffff;
}

img {
  border: 2px solid black;
}

.img-responsive {
  margin-top: 10px;
}

.column h2 {
    color: darkblue;
    text-align: center;
}

#hide-photo {
  display: none;
}
  
